loguru~=0.7.0
Pyrogram~=2.0.106
TgCrypto==1.2.5
python-dotenv~=1.0.0
pydantic_settings
fastapi~=0.101.1
pydantic~=2.1.1
uvicorn~=0.23.2
starlette~=0.27.0
gunicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
gspread
black